body {
  background-image: url('./assets/icsbingobg2.png');
  background-repeat:repeat-x;
  background-size: auto;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  color: #333;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  /* background-color: #f0f0f0af; */
}

.App-header {
  position: relative;
  text-align: center;
  padding: 0 20px;
  margin: 0 20px;
  color: white;
}

.bingo-header{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.bingo-header li{
  /* background-color: #007bff; */
}

.bingo-header li img{
  width: 80%;
}

.bingo-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 400px;
  margin-top: 20px;
}

.bingo-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 10px;
  font-weight: bold;
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Adjust the spread radius and color as needed */
}

/* Style for the 'FREE' cell */
.bingo-cell.free {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.confettiA {
  position: absolute;
  top: 0%; /* Position vertically centered */
  left: 10%; /* Position a bit to the left */
  transform: translate(-50%, -50%); /* Center the image precisely */
  opacity: 90%;
}

/* CSS for positioning confettiB */
.confettiB {
  position: absolute;
  top: 100%; /* Position vertically centered */
  right: 10%; /* Position a bit to the right */
  transform: translate(50%, -50%); /* Center the image precisely */
  opacity: 90%;

}

.confettiA,
.confettiB {
  width: 400px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}


.randomize-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: 2px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.randomize-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.randomize-button:focus {
  outline: none; /* Remove default focus outline */
}

.randomize-button:active {
  transform: translateY(1px); /* Add slight press effect on click */
}

.footer{
  font-size: 0.6em;
}